.category{
    background-image: url(/src/computer-simple-purple-gradient-icons-set-vector-21374314.jpg);
    width: 1180px;
    height:85vh;
    
}
.title{ border:solid blue;
    border-style: none;
    background: linear-gradient(  #90d3ee, #9198e5);
    color: #fff;
    width: 60vh;
    height: 20vh;
    font-size: 19px;
    opacity: 1;
      
}
 .couriers{
     background-image: url(/src/wp6044990.jpg);
     background-repeat: no-repeat;
     height: 88vh;
    
 
 }
